

{{!-- need to run on terminal to pick up on hbs modules: 'nodemon src/app.js -e js,hbs' --}}
{{!-- automates to all pages such as creating a header or footer, will generate on all pages  --}}
{{!-- this works by using {{>}} , example: {{>footer}} --}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather 01</a>
     <a href="/about">About 02</a>
      <a href="/help">Help 03</a>

</header>